/* Container for all images */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 20px; 
}

/* Main section wrapper */
.containerone {
  width: 100%;
  text-align: center;
  margin-top: -40px;   
  padding-top: 2px;
}
.containerone h1 {
  margin-top: 40px;   
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
}

.image-block {
  width: 32%; 
}

.image-block.plant img,
.image-block.frame img {
  position: relative;
  bottom: 40px !important;
}

.image-block img {
  width: 100%;
  height: 360px;  
  object-fit: cover;
  border-radius: 12px;
  margin-top: 5px;
}
.image-block.discount img{
  height:400px
}
.image-block.bottle img {
  height:700px;
}
.image-block.choco {
  position: relative;
  bottom: 390px; 
  right: 220px
}
.image-block.small{
  position: relative;
  bottom: 390px;
  left:220px;
}
@media (max-width: 768px) {
  .image-block {
    width: 48%;    
    position: static !important; 
    height: 150px;
  }
}

@media (max-width: 480px) {
  .image-block {
    width: 100%;   
    position: static !important;
  }
}